.header h1 {
    font-size: 48px;
    color: #001049; /* Colore blu per contrasto */
    text-transform: uppercase;
}

.card h2 {
    font-size: 30px;
    color: #001049; /* Colore blu per contrasto */
}

.card p {
    color: #000000; /* Colore del testo grigio chiaro */
}

/* Link per le card */
.card a {
    text-decoration: none;
    color: #001049; /* Colore blu per i link */
}

a {
    text-decoration: none;
}

.janus-blue{
color:#001049;
}

.janus-blue h1{
    font-size: 5em;
}

/* Stile del link al passaggio del mouse */
.card a:hover {
    text-decoration: underline;
}

.text-lg{
    font-size: large;
}

.btn-yellow{
    color: #000 !important;
    background-color: #ffff08 !important;
    border-color: #ffff08 !important;
}

.janus-bg {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' standalone='no'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 20010904//EN' 'http://www.w3.org/TR/2001/REC-SVG-20010904/DTD/svg10.dtd'%3E%3Csvg version='1.0' xmlns='http://www.w3.org/2000/svg' width='360.000000pt' height='282.000000pt' viewBox='0 0 360.000000 282.000000' preserveAspectRatio='xMidYMid meet'%3E%3Cg transform='translate(0.000000,282.000000) scale(0.100000,-0.100000)'%0Afill='%2300000008' stroke='none'%3E%3Cpath d='M471 2763 c-16 -32 -50 -105 -77 -163 -48 -104 -49 -106 -55 -230 -5%0A-121 -6 -128 -51 -230 -26 -58 -83 -181 -128 -275 -119 -247 -142 -308 -138%0A-369 3 -49 5 -52 43 -70 30 -15 68 -21 153 -24 140 -6 162 7 55 32 -190 45%0A-223 62 -223 117 0 19 460 1029 551 1212 l29 57 -65 0 -65 0 -29 -57z'/%3E%3Cpath d='M1371 2773 c107 -112 159 -183 159 -217 0 -19 -6 -38 -12 -44 -25%0A-20 -82 -23 -133 -8 -62 19 -65 19 -65 1 0 -8 2 -15 4 -15 29 0 275 -75 288%0A-88 10 -9 44 -69 78 -132 63 -121 67 -117 29 29 -37 138 -144 323 -271 465%0A-43 49 -54 56 -86 56 l-36 0 45 -47z'/%3E%3Cpath d='M2138 2763 c-98 -127 -123 -189 -228 -561 -60 -213 -94 -313 -130%0A-388 -94 -195 -225 -294 -422 -319 -27 -3 -48 -11 -48 -18 0 -24 118 -125 185%0A-158 60 -29 79 -34 145 -34 68 0 85 4 152 37 86 43 145 101 381 374 81 94 162%0A179 180 189 99 53 242 -33 292 -176 37 -104 -7 -410 -100 -697 -30 -95 -41%0A-116 -70 -138 -38 -29 -48 -26 -71 19 -13 25 -15 48 -10 116 9 128 -14 158%0A-133 168 -111 10 -189 -33 -234 -130 -13 -29 -43 -119 -67 -202 -64 -228 -188%0A-628 -209 -679 -26 -59 -86 -125 -136 -147 -39 -18 -29 -19 538 -19 l577 0 0%0A62 c0 77 28 139 81 178 21 15 87 44 146 64 127 44 269 112 335 161 59 44 91%0A103 91 170 0 40 -9 67 -42 129 -56 106 -54 142 13 198 29 25 31 32 38 115 4%0A48 10 105 13 125 7 35 3 42 -39 89 -38 42 -46 58 -44 83 2 26 12 36 52 57 27%0A15 73 29 103 32 30 3 65 13 78 21 50 33 47 42 -115 365 l-153 304 -69 276%0Ac-53 213 -68 289 -66 334 l3 57 -486 0 -486 0 -45 -57z'/%3E%3Cpath d='M435 2236 l-30 -27 35 8 c19 4 67 8 105 8 86 0 126 -18 271 -127 88%0A-65 179 -116 190 -106 4 4 -170 140 -239 187 -76 52 -128 70 -218 77 -82 6%0A-86 6 -114 -20z'/%3E%3Cpath d='M579 2118 c0 -13 -2 -99 -4 -193 -5 -229 -31 -372 -97 -532 -29 -71%0A-29 -71 -14 -131 24 -90 28 -85 -76 -80 -83 4 -115 12 -180 46 -10 5 -10 -20%0A0 -35 11 -17 152 -43 229 -43 61 0 62 0 72 33 16 51 31 146 31 198 0 59 21%0A163 62 299 30 100 31 108 20 173 -22 127 -12 187 33 187 14 0 58 -14 97 -30%0A39 -17 76 -29 82 -27 20 7 -177 144 -216 151 -35 6 -38 5 -39 -16z'/%3E%3Cpath d='M241 728 c-54 -106 -36 -180 56 -238 26 -16 138 -59 252 -96 115 -37%0A220 -77 239 -91 46 -34 60 -68 72 -174 6 -52 13 -102 16 -111 5 -17 25 -18%0A252 -17 153 1 228 4 197 9 -147 22 -208 62 -282 181 -92 148 -187 225 -306%0A248 -29 5 -91 14 -138 20 -103 13 -219 51 -266 87 -51 39 -67 84 -59 172 3 39%0A4 72 2 72 -3 0 -18 -28 -35 -62z'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-size: cover;
    }

.janus-logo {
  animation: janus-logo-rotate 5s both;
}

@keyframes janus-logo-rotate {
  0 {
    transform: rotateY(0);
  }
  100% {
    transform: rotateY(180deg);
  }
}

.card-header .fa {
  transition: .3s transform ease-in-out;
}
.card-header .collapsed .fa {
  transform: rotate(90deg);
}
 .h1-janus {
        font-size: 5em;
    }