<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Group {{output_list["external_id"]}} Details</title>
    <link rel="icon" type="image/png" href="..\Janus\static\images\janus.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
 <div class="loader-wrapper" id="loader-wrapper">
        <div class="loader"></div>
    </div>

   <h1>{{output_list["name"]}} (ATT&CK ID: {{output_list["external_id"]}})</h1>
     <p1>{{output_list["description"]}}</p1> <br><br>
     <p1>{{output_list["alias_intestation"]}}</p1>
     <p1>{{output_list["aliases"]}}</p1>

   <h2>Enterprise Campaigns attribuited to {{output_list["name"]}}</h2>
   <p2>{{output_list["enterprise_campaigns_intestation"]}}</p2>
   {% for campaign in output_list["enterprise_campaigns"]%}
        <h3>{{campaign["name"]}} (ATT&CK ID: {{campaign["external_id"]}})</h3>
             <p3>{{campaign["description"]}}</p3>
        {% endfor %}

 <h2>ICS Campaigns attribuited to {{output_list["name"]}}</h2>
   <p2>{{output_list["ics_campaigns_intestation"]}}</p2>
   {% for campaign in output_list["ics_campaigns"]%}
        <h3>{{campaign["name"]}} (ATT&CK ID: {{campaign["external_id"]}})</h3>
             <p3>{{campaign["description"]}}</p3>
        {% endfor %}

 <h2>Mobile Campaigns attribuited to {{output_list["name"]}}</h2>
   <p2>{{output_list["mobile_campaigns_intestation"]}}</p2>
   {% for campaign in output_list["mobile_campaigns"]%}
        <h3>{{campaign["name"]}} (ATT&CK ID: {{campaign["external_id"]}})</h3>
             <p3>{{campaign["description"]}}</p3>
        {% endfor %}

 {% set somma = output_list["n_enterprise_campaigns"]+output_list["n_ics_campaigns"]+output_list["n_mobile_campaigns"] %}
 {% if  somma >= 1 %}
     <h2>Report campaigns performed by {{output_list["name"]}}</h2>
     <canvas id="myPieChart" width="400" height="400"></canvas>
     <script>
        document.addEventListener('DOMContentLoaded', function() {
        var ctx = document.getElementById('myPieChart').getContext('2d');
        var myPieChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: ['ENTERPRISE campaigns', 'ICS campaigns', 'MOBILE campaigns'],
                datasets: [{
                    label: 'by {{output_list["name"]}}',
                    data: ['{{output_list["n_enterprise_campaigns"]}}', '{{output_list["n_ics_campaigns"]}}', '{{output_list["n_mobile_campaigns"]}}'],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.5)',
                        'rgba(54, 162, 235, 0.5)',
                        'rgba(255, 206, 86, 0.5)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                responsive: false, // Imposta la dimensione del grafico
            }
        });
    });
</script>
{% endif %}
<script>
        window.addEventListener("load", function () {
            var loader = document.getElementById("loader-wrapper");
            loader.style.display = "none"; // Nasconde l'animazione una volta caricata la pagina
        });
    </script>
 <h1>Techniques used by {{output_list["name"]}}</h1>
<h2>Enterprise techniques used by {{output_list["name"]}}</h2>
   <p2>{{output_list["enterprise_techniques_intestation"]}}</p2>
   {% for technique in output_list["enterprise_techniques"]%}
        <h4>{{technique["name"]}} (ATT&CK ID: {{technique["external_id"]}})<a href="http://127.0.0.1:5000/techniques/{{technique['external_id']}}"> View details</a></h4>
        {% endfor %}
<h2>ICS techniques used by {{output_list["name"]}}</h2>
   <p2>{{output_list["ics_techniques_intestation"]}}</p2>
   {% for technique in output_list["ics_techniques"]%}
        <h3>{{technique["name"]}} (ATT&CK ID: {{technique["external_id"]}})<a href="http://127.0.0.1:5000/techniques/{{technique['external_id']}}"> View details</a></h3>
             <p3>{{technique["description"]}}</p3>
        {% endfor %}
<h2>Mobile techniques used by {{output_list["name"]}}</h2>
   <p2>{{output_list["mobile_techniques_intestation"]}}</p2>
   {% for technique in output_list["mobile_techniques"]%}
        <h3>{{technique["name"]}} (ATT&CK ID: {{technique["external_id"]}})<a href="http://127.0.0.1:5000/techniques/{{technique['external_id']}}"> View details</a></h3>
             <p3>{{technique["description"]}}</p3>
        {% endfor %}
<h1>Software used by {{output_list["name"]}}</h1>
<h2>Software used in Enterprise context by {{output_list["name"]}}</h2>
   <p2>{{output_list["enterprise_software_intestation"]}}</p2>
   {% for software in output_list["enterprise_software"]%}
        <h3>{{software["name"]}} (ATT&CK ID: {{software["external_id"]}})</h3>
             <p3>{{software["description"]}}</p3>
        {% endfor %}
<h2>Software used in ICS context by {{output_list["name"]}}</h2>
   <p2>{{output_list["ics_software_intestation"]}}</p2>
   {% for software in output_list["ics_software"]%}
        <h3>{{software["name"]}} (ATT&CK ID: {{software["external_id"]}})</h3>
             <p3>{{software["description"]}}</p3>
        {% endfor %}
<h2>Software used in Mobile context by {{output_list["name"]}}</h2>
   <p2>{{output_list["mobile_software_intestation"]}}</p2>
   {% for software in output_list["mobile_software"]%}
        <h3>{{software["name"]}} (ATT&CK ID: {{software["external_id"]}})</h3>
             <p3>{{software["description"]}}</p3>
        {% endfor %}

<h2>Assets targeted in Enterprise context by {{output_list["name"]}}</h2>
   <p2>{{output_list["enterprise_assets_intestation"]}}</p2>
   {% for asset in output_list["enterprise_assets"]%}
        <h3>{{asset["name"]}} (ATT&CK ID: {{asset["external_id"]}})</h3>
             <p3>{{asset["description"]}}</p3>
        {% endfor %}
<h2>Assets targeted in ICS context by {{output_list["name"]}}</h2>
   <p2>{{output_list["ics_assets_intestation"]}}</p2>
   {% for asset in output_list["ics_assets"]%}
        <h3>{{asset["name"]}} (ATT&CK ID: {{asset["external_id"]}})</h3>
             <p3>{{asset["description"]}}</p3>
        {% endfor %}
<h2>Assets targeted in mobile context by {{output_list["name"]}}</h2>
   <p2>{{output_list["mobile_assets_intestation"]}}</p2>
   {% for asset in output_list["mobile_assets"]%}
        <h3>{{asset["name"]}} (ATT&CK ID: {{asset["external_id"]}})</h3>
             <p3>{{asset["description"]}}</p3>
        {% endfor %}
</body>
</html>