<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<ul>
    <li><a href="http://127.0.0.1:5000/">Home</a></li>
    <li class="dropdown">
      <a href="javascript:void(0)" class="dropbtn">Switch Matrix</a>
      <div class="dropdown-content">
        <a href="http://127.0.0.1:5000/matrix_enterprise">ENTERPRISE MATRIX</a>
        <a href="http://127.0.0.1:5000/matrix_ics">ICS MATRIX</a>
        <a href="http://127.0.0.1:5000/matrix_mobile">MOBILE MATRIX</a>
      </div>
    </li>
    <li><a href="http://127.0.0.1:5000/CTI_groups">CTI Groups</a></li>
  </ul>
  <div class="search-container">
    <input type="text" placeholder="Search...">
    <button type="submit">Cerca</button>
  </div>
</div>
<bodyhome>
    <div class="container">
        <div class="header">
            <h1>JANUS</h1>
        </div>

        <div class="cards">
            <!-- Prima card con link -->
            <a href="http://127.0.0.1:5000/CTI_groups" class="card">
                <img src="../Janus/static/images/group_image.png" alt="CTI Groups">
                <h2>CTI for Groups</h2>
                <p>Discover more about CTI groups</p>
            </a>

            <!-- Seconda card con link -->
            <a href="http://127.0.0.1:5000/matrix_selector" class="card">
                <img src="../Janus/static/images/matrix.png" alt="Att&ck Matrix">
                <h2>Att&ck Matrix</h2>
                <p>Explore the Att&ck Matrix</p>
            </a>
        </div>
    </div>
</bodyhome>
</html>

