<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="apple-touch-icon" sizes="57x57" href="{{url_for('static' , filename='/images/favicon/apple-icon-57x57.png') }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{url_for('static' , filename='/images/favicon/apple-icon-60x60.png') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{url_for('static' , filename='/images/favicon/apple-icon-72x72.png') }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{url_for('static' , filename='/images/favicon/apple-icon-76x76.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{url_for('static' , filename='/images/favicon/apple-icon-114x114.png') }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{url_for('static' , filename='/images/favicon/apple-icon-120x120.png') }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{url_for('static' , filename='/images/favicon/apple-icon-144x144.png') }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{url_for('static' , filename='/images/favicon/apple-icon-152x152.png') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{url_for('static' , filename='/images/favicon/apple-icon-180x180.png') }}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{{url_for('static' , filename='/images/favicon/android-icon-192x192.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{url_for('static' , filename='/images/favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{url_for('static' , filename='/images/favicon/favicon-96x96.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{url_for('static' , filename='/images/favicon/favicon-16x16.png') }}">
    <meta name="msapplication-TileColor" content="#ffffff00">
    <meta name="msapplication-TileImage" content="{{url_for('static' , filename='images/favicon/ms-icon-144x144.png')}}">
    <meta name="theme-color" content="#ffffff00">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="icon" type="image/png" href="..\Janus\static\images\janus.png">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body class="janus-bg">
    <nav class="navbar sticky-top border-bottom navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="http://127.0.0.1:5000" style="color:#001049">JANUS</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="http://127.0.0.1:5000/CTI_groups">CTI Groups</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Switch Matrix
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="http://127.0.0.1:5000/matrix_enterprise">ENTERPRISE MATRIX</a></li>
                <li><a class="dropdown-item" href="http://127.0.0.1:5000/matrix_ics">ICS MATRIX</a></li>
                <li><a class="dropdown-item" href="http://127.0.0.1:5000/matrix_mobile">MOBILE MATRIX</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
</nav>

</div>

    <div class="container w-75 pb-5 justify-content-center">
        <div class="row text-center pt-4 d-flex justify-content-center">
            <div class="janus-logo">
                <img src= "{{url_for('static' , filename='/images/janus.svg') }}" class="w-25" alt="">
            </div>
            <h1 class="h1 pb-2 janus-blue">JANUS</h1>

            <p class="pb-4">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pellentesque imperdiet eleifend. Vivamus at fermentum purus, ut convallis nisl. Donec imperdiet leo at mi tincidunt, nec pretium turpis efficitur. Maecenas tincidunt, nibh at rhoncus fringilla, purus eros faucibus enim, vel suscipit nisi ex non ipsum. Etiam eu metus metus. Suspendisse posuere arcu at nibh rhoncus tempus. Nunc id varius ligula, at malesuada elit. Aenean hendrerit risus eros, viverra fermentum elit ultricies sed. Donec eget odio hendrerit ante hendrerit venenatis. In ut venenatis tortor.
            </p>
        </div>

        <div class="row">
            <!-- Prima card con link -->
            <div class="col-sm-6 pt-3">
                <a href="http://127.0.0.1:5000/CTI_groups" style="text-decoration:none">
                    <div class="card bg-light h-100 border-bottom">
                        <div class="p-4 card-img-top d-flex justify-content-center">
                            <img src= "{{url_for('static' , filename='/images/group.svg') }}" alt="">
                        </div>
                        <div class="card-body text-center">
                                <h2 class="card-title">CTI Groups</h2>
                                <p class="card-text" style="color: #001049;">Discover more about CTI groups</p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-sm-6 pt-3">
                <!-- Seconda card con link -->
                <a href="http://127.0.0.1:5000/matrix_selector" style="text-decoration:none">
                    <div class="card bg-light h-100 border-bottom">
                        <div class="p-4 card-img-top d-flex justify-content-center">
                            <img src= "{{url_for('static' , filename='/images/matrix.svg') }}" alt="">
                        </div>
                        <div class="card-body text-center">
                                <h2 class="card-title">Att&ck Matrix</h2>
                                <p class="card-text" style="color: #001049;">Explore the Att&ck Matrix</p>
                        </div>
                    </div>
                </a>
            </div>

        </div>
    </div>
    </div>

    <div class="row text-center d-flex justify-content-center py-2">
        <p style="color:#1e1f22;">
            JANUS is a beta version of a Cyber Thread Intelligence system, all the code is open-source and avaiable on github
        </p>

        <a href=" https://github.com/fkg-cs/mitreattack-python ">
            <img src= "{{url_for('static' , filename='/images/github.svg') }}" style="width: 7vh;" alt="">
        </a>

    </div>
</body>
</html>

