<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{output_list["title"]}}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
<h1>{{output_list["title"]}}</h1>
<h2>{{output_list["report"]}}</h2>
<hr>
{% for tactic in output_list["tactics"]%}

    <h2>Tactic: {{tactic["name"]}} (ATT&CK ID: {{tactic["external_id"]}})</h2>
     <p>{{tactic["description"]}}</p>
     <p>(<a href= " {{tactic['url']}} ">{{tactic['url']}}</a>)</p>

     <p>{{tactic["techniques_intestation"]}}</p>
          {% for technique in tactic["techniques"]%}
           <h3>Technique: {{technique["name"]}} (ATT&CK ID:  {{technique["external_id"]}}) <a href="http://127.0.0.1:5000/techniques/{{technique['external_id']}}"> View details</a></h3>
                <p>      {{technique["description"]}}</p>
                <p>      {{technique["subtechniques_intestation"]}}</p>
                    {% for subtechnique in technique["subtechniques"]%}
                        <h4>Subtechnique: {{subtechnique["name"]}} (ATT&CK ID: {{subtechnique["external_id"]}})<a href="http://127.0.0.1:5000/techniques/{{subtechnique['external_id']}}"> View details</a></h4>
                    {% endfor %}
           <br>
          {% endfor %}
<hr>
{% endfor %}

</body>
</html>