<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ATT&CK MATRIXES</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>CHOOSE A ATT&CK MATRIX</h1>
            <img src="hacker_image.jpg" alt="Hacker Image">
        </div>

        <div class="menu">
            <ul>
                <li><a href="http://127.0.0.1:5000/matrix_enterprise">ENTERPRISE MATRIX</a></li>
                <li><a href="http://127.0.0.1:5000/matrix_ics">ICS MATRIX</a></li>
                <li><a href="http://127.0.0.1:5000/matrix_mobile">MOBILE MATRIX</a></li>
            </ul>
        </div>
    </div>
</body>
</html>