<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="apple-touch-icon" sizes="57x57" href="{{url_for('static' , filename='/images/favicon/apple-icon-57x57.png') }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{url_for('static' , filename='/images/favicon/apple-icon-60x60.png') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{url_for('static' , filename='/images/favicon/apple-icon-72x72.png') }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{url_for('static' , filename='/images/favicon/apple-icon-76x76.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{url_for('static' , filename='/images/favicon/apple-icon-114x114.png') }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{url_for('static' , filename='/images/favicon/apple-icon-120x120.png') }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{url_for('static' , filename='/images/favicon/apple-icon-144x144.png') }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{url_for('static' , filename='/images/favicon/apple-icon-152x152.png') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{url_for('static' , filename='/images/favicon/apple-icon-180x180.png') }}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{{url_for('static' , filename='/images/favicon/android-icon-192x192.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{url_for('static' , filename='/images/favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{url_for('static' , filename='/images/favicon/favicon-96x96.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{url_for('static' , filename='/images/favicon/favicon-16x16.png') }}">
    <meta name="msapplication-TileColor" content="#ffffff00">
    <meta name="msapplication-TileImage" content="{{url_for('static' , filename='images/favicon/ms-icon-144x144.png')}}">
    <meta name="theme-color" content="#ffffff00">
    <meta charset="UTF-8">
    <title>CTI GROUPS LIST</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>

<body class="janus-bg">
    <nav class="navbar sticky-top border-bottom navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="http://127.0.0.1:5000" style="color:#001049">JANUS</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="http://127.0.0.1:5000/CTI_groups">CTI Groups</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Switch Matrix
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="http://127.0.0.1:5000/matrix_enterprise">ENTERPRISE MATRIX</a></li>
                            <li><a class="dropdown-item" href="http://127.0.0.1:5000/matrix_ics">ICS MATRIX</a></li>
                            <li><a class="dropdown-item" href="http://127.0.0.1:5000/matrix_mobile">MOBILE MATRIX</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="d-flex" method="get">
                    <input class="form-control me-2" type="search" placeholder="Search group via ID" aria-label="Search">
                    <button class="btn btn-outline-secondary" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>

    <div class="container">

        <div class="row text-center pt-3">
            <h1>CTI GROUPS LIST</h1>
            <p>{{output_list["report"]}}</p>
        </div>

        <div class="row card my-3">
            <div class="card-header">
                <a class="collapsed d-block" data-bs-toggle="collapse" href="#collapse-op-group" role="button" aria-expanded="false" aria-controls="#collapse-op-group" style="text-decoration: none;font-size: 1.3em;">
                    <i class="fa fa-chevron-down pull-right"></i> GROUPS OPERATING IN ENTERPRISE CAMPAIGNS </a>
                </a>
            </div>
            <div id="collapse-op-group" class="collapse multi-collapse">
                <div class="card-body">
                     {% for group in output_list["enterprise_groups"] %}
                        <div class="card my-2">
                            <div class="card-header">
                                <a class="collapsed d-block" data-bs-toggle="collapse" href="#collapse-op-group-{{loop.index}}" role="button" aria-expanded="false" aria-controls="#collapse-op-group-{{loop.index}}" style="text-decoration: none;font-size: 1.3em;">
                                    <div class="d-flex justify-content-between">
                                        <div class="col">
                                            <i class="fa fa-chevron-down pull-right"></i> {{group["name"]}} (ATT&CK ID:{{group["external_id"]}})
                                        </div>
                                        <div class="col d-flex justify-content-end">
                                            <a href="http://127.0.0.1:5000/CTI_groups/{{group['external_id']}}" style="color:blue;" class="px-5 py-2"> Open Group Page</a>
                                        </div>
                                    </div>
                                </a>
                            </div>

                            <div id="collapse-op-group-{{loop.index}}" class="collapse multi-collapse">
                                <div class="card-body">
                                    <p>{{group["description"]}}</p>
                                    <p>{{group["alias_intestation"]}}</p>
                                    <p>{{group["aliases"]}}</p>
                                </div>
                            </div>
                        </div>
                     {% endfor %}
                </div>
            </div>
        </div>

        <div class="row card my-3">
            <div class="card-header">
                <a class="collapsed d-block" data-bs-toggle="collapse" href="#collapse-op-ics" role="button" aria-expanded="false" aria-controls="#collapse-op-ics" style="text-decoration: none;font-size: 1.3em;">
                    <i class="fa fa-chevron-down pull-right"></i> GROUPS OPERATING IN ICS CAMPAIGNS </a>
                </a>
            </div>
            <div id="collapse-op-ics" class="collapse multi-collapse">
                <div class="card-body">
                     {% for group in output_list["ics_groups"] %}
                        <div class="card my-2">
                            <div class="card-header">
                                <a class="collapsed d-block" data-bs-toggle="collapse" href="#collapse-op-ics-{{loop.index}}" role="button" aria-expanded="false" aria-controls="#collapse-op-ics-{{loop.index}}" style="text-decoration: none;font-size: 1.3em;">
                                    <div class="d-flex justify-content-between">
                                        <div class="col">
                                            <i class="fa fa-chevron-down pull-right"></i> {{group["name"]}} (ATT&CK ID:{{group["external_id"]}})
                                        </div>
                                        <div class="col d-flex justify-content-end">
                                            <a href="http://127.0.0.1:5000/CTI_groups/{{group['external_id']}}" style="color:blue;" class="px-5 py-2"> Open Group Page</a>
                                        </div>
                                    </div>
                                </a>
                            </div>

                            <div id="collapse-op-ics-{{loop.index}}" class="collapse multi-collapse">
                                <div class="card-body">
                                    <p>{{group["description"]}}</p>
                                    <p>{{group["alias_intestation"]}}</p>
                                    <p>{{group["aliases"]}}</p>
                                </div>
                            </div>
                        </div>
                     {% endfor %}
                </div>
            </div>
        </div>

        <div class="row card my-3">
            <div class="card-header">
                <a class="collapsed d-block" data-bs-toggle="collapse" href="#collapse-op-mobile" role="button" aria-expanded="false" aria-controls="#collapse-op-mobile" style="text-decoration: none;font-size: 1.3em;">
                    <i class="fa fa-chevron-down pull-right"></i> GROUPS OPERATING IN MOBILE CAMPAIGNS </a>
                </a>
            </div>
            <div id="collapse-op-mobile" class="collapse multi-collapse">
                <div class="card-body">
                     {% for group in output_list["mobile_groups"] %}
                        <div class="card my-2">
                            <div class="card-header">
                                <a class="collapsed d-block" data-bs-toggle="collapse" href="#collapse-op-mobile-{{loop.index}}" role="button" aria-expanded="false" aria-controls="#collapse-op-mobile-{{loop.index}}" style="text-decoration: none;font-size: 1.3em;">
                                    <div class="d-flex justify-content-between">
                                        <div class="col">
                                            <i class="fa fa-chevron-down pull-right"></i> {{group["name"]}} (ATT&CK ID:{{group["external_id"]}})
                                        </div>
                                        <div class="col d-flex justify-content-end">
                                            <a href="http://127.0.0.1:5000/CTI_groups/{{group['external_id']}}" style="color:blue;" class="px-5 py-2"> Open Group Page</a>
                                        </div>
                                    </div>
                                </a>
                            </div>

                            <div id="collapse-op-mobile-{{loop.index}}" class="collapse multi-collapse">
                                <div class="card-body">
                                    <p>{{group["description"]}}</p>
                                    <p>{{group["alias_intestation"]}}</p>
                                    <p>{{group["aliases"]}}</p>
                                </div>
                            </div>
                        </div>
                     {% endfor %}
                </div>
            </div>
        </div>

    </div>

</body>
<script>
    console.log($(window).load());
    //$(window).load(function() {
      //$("#loader").fadeOut(1000);
   //});
</script>
</html>