<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="apple-touch-icon" sizes="57x57" href="{{url_for('static' , filename='/images/favicon/apple-icon-57x57.png') }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{url_for('static' , filename='/images/favicon/apple-icon-60x60.png') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{url_for('static' , filename='/images/favicon/apple-icon-72x72.png') }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{url_for('static' , filename='/images/favicon/apple-icon-76x76.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{url_for('static' , filename='/images/favicon/apple-icon-114x114.png') }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{url_for('static' , filename='/images/favicon/apple-icon-120x120.png') }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{url_for('static' , filename='/images/favicon/apple-icon-144x144.png') }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{url_for('static' , filename='/images/favicon/apple-icon-152x152.png') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{url_for('static' , filename='/images/favicon/apple-icon-180x180.png') }}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{{url_for('static' , filename='/images/favicon/android-icon-192x192.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{url_for('static' , filename='/images/favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{url_for('static' , filename='/images/favicon/favicon-96x96.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{url_for('static' , filename='/images/favicon/favicon-16x16.png') }}">
    <meta name="msapplication-TileColor" content="#ffffff00">
    <meta name="msapplication-TileImage" content="{{url_for('static' , filename='images/favicon/ms-icon-144x144.png')}}">
    <meta name="theme-color" content="#ffffff00">

    <meta charset="UTF-8">
    <title>Group {{output_list["external_id"]}} Details</title>
    <link rel="icon" type="image/png" href="..\Janus\static\images\janus.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body class="janus-bg">
<div id = "loading_indicator"> </div>
<nav class="navbar sticky-top border-bottom navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="http://127.0.0.1:5000" style="color:#001049">JANUS</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="http://127.0.0.1:5000/CTI_groups">CTI Groups</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Switch Matrix
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="http://127.0.0.1:5000/matrix_enterprise">ENTERPRISE MATRIX</a></li>
                <li><a class="dropdown-item" href="http://127.0.0.1:5000/matrix_ics">ICS MATRIX</a></li>
                <li><a class="dropdown-item" href="http://127.0.0.1:5000/matrix_mobile">MOBILE MATRIX</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
</nav>

<div class="container">

    <div class="row">
        <div class="text-center pt-2">
            <h1>{{output_list["name"]}} (ATT&CK ID: {{output_list["external_id"]}})</h1>
        </div>
        <div>
             <p class="my-3">{{output_list["description"]}}</p>
             <p class="my-3">{{output_list["alias_intestation"]}}</p>
             <p class="my-3">{{output_list["aliases"]}}</p>
        </div>
    </div>

    <div class="row card my-3">
        <div class="card-header">
            <h2>Enterprise Campaigns attribuited to {{output_list["name"]}}</h2>
        </div>
        <div class="card-body">
            <p class="py-1">{{output_list["enterprise_campaigns_intestation"]}}</p>

            {% for campaign in output_list["enterprise_campaigns"]%}
                <h4>{{campaign["name"]}} (ATT&CK ID: {{campaign["external_id"]}})</h4>
                <p>{{campaign["description"]}}</p>
            {% endfor %}

        </div>
    </div>

    <div class="row card my-3">
        <div class="card-header">
            <h2>ICS Campaigns attribuited to {{output_list["name"]}}</h2>
        </div>
        <div class="card-body">
            <p class="py-1">{{output_list["ics_campaigns_intestation"]}}</p>

            {% for campaign in output_list["ics_campaigns"]%}
                <h4>{{campaign["name"]}} (ATT&CK ID: {{campaign["external_id"]}})</h4>
                <p>{{campaign["description"]}}</p>
            {% endfor %}

        </div>
    </div>

    <div class="row card my-3">
        <div class="card-header">
            <h2>Mobile Campaigns attribuited to {{output_list["name"]}}</h2>
        </div>
        <div class="card-body">
            <p class="py-1">{{output_list["mobile_campaigns_intestation"]}}</p>

            {% for campaign in output_list["mobile_campaigns"]%}
                <h4>{{campaign["name"]}} (ATT&CK ID: {{campaign["external_id"]}})</h4>
                <p>{{campaign["description"]}}</p>
            {% endfor %}

        </div>
    </div>

     {% set somma = output_list["n_enterprise_campaigns"]+output_list["n_ics_campaigns"]+output_list["n_mobile_campaigns"] %}
     {% if  somma >= 1 %}
    <div class="row card">
        <div class="card-header">
            <h2>Report campaigns performed by {{output_list["name"]}}</h2>
        </div>
        <div class="card-body">
            <div class="d-flex justify-content-center align-items-center pb-5">
                <canvas id="myPieChart" width="400" height="400" ></canvas>
            </div>

            <script>
                    document.addEventListener('DOMContentLoaded', function() {
                    var ctx = document.getElementById('myPieChart').getContext('2d');
                    var myPieChart = new Chart(ctx, {
                        type: 'pie',
                        data: {
                            labels: ['ENTERPRISE campaigns', 'ICS campaigns', 'MOBILE campaigns'],
                            datasets: [{
                                label: 'by {{output_list["name"]}}',
                                data: ['{{output_list["n_enterprise_campaigns"]}}', '{{output_list["n_ics_campaigns"]}}', '{{output_list["n_mobile_campaigns"]}}'],
                                backgroundColor: [
                                                'rgb(82,121,169)',
                                                'rgb(155,154,85)',
                                                'rgb(133,155,62)'
                                            ],
                                borderColor: [
                                               'rgb(82,121,169)',
                                               'rgb(155,154,85)',
                                               'rgb(133,155,62)'
                                            ],
                                borderWidth: 1
                            }]
                        },
                        options: {
                            responsive: false, // Imposta la dimensione del grafico
                        }
                    });
                });
            </script>
        </div>
    </div>
    {% endif %}

    <div class="row card">
        <div class="card-header">
            <h2>Techniques used by {{output_list["name"]}}</h2>
        </div>
        <div class="card-body">
            <div class="container">
                <div class="row card">
                <div class="card-header">
                    <a class="collapsed d-block" data-bs-toggle="collapse" href="#collapse-en" role="button" aria-expanded="false" aria-controls="#collapse-en" style="text-decoration: none;font-size: 1.3em;">
                        <i class="fa fa-chevron-down pull-right"></i> Enterprise techniques used by {{output_list["name"]}} </a>
                    </a>
                </div>

                <div id="collapse-en" class="collapse multi-collapse">
                    <div class="card-body">
                        <p class="py-1">{{output_list["enterprise_techniques_intestation"]}}</p>
                        {% for technique in output_list["enterprise_techniques"]%}
                         <h4><a href="http://127.0.0.1:5000/techniques/{{technique['external_id']}}">{{technique["name"]}} (ATT&CK ID: {{technique["external_id"]}})</a></h4>
                        {% endfor %}
                    </div>
                </div>
            </div>

                <div class="row card">
                    <div class="card-header">
                        <a class="collapsed d-block" data-bs-toggle="collapse" href="#collapse-ics" role="button" aria-expanded="false" aria-controls="#collapse-ics" style="text-decoration: none;font-size: 1.3em;">
                            <i class="fa fa-chevron-down pull-right"></i> ICS techniques used by {{output_list["name"]}} </a>
                        </a>
                    </div>

                    <div id="collapse-ics" class="collapse multi-collapse">
                        <div class="card-body">
                            <p class="py-1">{{output_list["ics_techniques_intestation"]}}</p>
                            {% for technique in output_list["ics_techniques"]%}
                             <h4><a href="http://127.0.0.1:5000/techniques/{{technique['external_id']}}">{{technique["name"]}} (ATT&CK ID: {{technique["external_id"]}})</a></h4>                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="row card">
                    <div class="card-header">
                        <a class="collapsed d-block" data-bs-toggle="collapse" href="#collapse-mobile" role="button" aria-expanded="false" aria-controls="#collapse-mobile" style="text-decoration: none;font-size: 1.3em;">
                            <i class="fa fa-chevron-down pull-right"></i> Mobile techniques used by {{output_list["name"]}} </a>
                        </a>
                    </div>

                    <div id="collapse-mobile" class="collapse multi-collapse">
                        <div class="card-body">
                            <p class="py-1">{{output_list["mobile_techniques_intestation"]}}</p>
                            {% for technique in output_list["mobile_techniques"]%}
                             <h4><a href="http://127.0.0.1:5000/techniques/{{technique['external_id']}}">{{technique["name"]}} (ATT&CK ID: {{technique["external_id"]}})</a></h4>                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row card">
        <div class="card-header">
            <h2>Software used by {{output_list["name"]}}</h2>
        </div>
        <div class="card-body">
            <div class="container">
                <div class="row card">
                    <div class="card-header">
                        <a class="collapsed d-block" data-bs-toggle="collapse" href="#collapse-en-sw" role="button" aria-expanded="false" aria-controls="#collapse-en-sw" style="text-decoration: none;font-size: 1.3em;">
                            <i class="fa fa-chevron-down pull-right"></i> Software used in Enterprise campaigns by {{output_list["name"]}} </a>
                        </a>
                    </div>

                    <div id="collapse-en-sw" class="collapse multi-collapse">
                        <div class="card-body">
                            <p class="py-1">{{output_list["enterprise_software_intestation"]}}</p>
                            {% for software in output_list["enterprise_software"]%}
                            <h4>{{software["name"]}} (ATT&CK ID: {{software["external_id"]}})</h4>
                            <p>{{software["description"]}}</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="row card">
                    <div class="card-header">
                        <a class="collapsed d-block" data-bs-toggle="collapse" href="#collapse-ics-sw" role="button" aria-expanded="false" aria-controls="#collapse-ics-sw" style="text-decoration: none;font-size: 1.3em;">
                            <i class="fa fa-chevron-down pull-right"></i> Software used in ICS campaigns by {{output_list["name"]}} </a>
                        </a>
                    </div>

                    <div id="collapse-ics-sw" class="collapse multi-collapse">
                        <div class="card-body">
                            <p class="py-1">{{output_list["ics_software_intestation"]}}</p>
                            {% for software in output_list["ics_software"]%}
                            <h4>{{software["name"]}} (ATT&CK ID: {{software["external_id"]}})</h4>
                            <p>{{software["description"]}}</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="row card">
                    <div class="card-header">
                        <a class="collapsed d-block" data-bs-toggle="collapse" href="#collapse-mobile-sw" role="button" aria-expanded="false" aria-controls="#collapse-mobile-sw" style="text-decoration: none;font-size: 1.3em;">
                            <i class="fa fa-chevron-down pull-right"></i> Software used in Mobile campaigns by {{output_list["name"]}} </a>
                        </a>
                    </div>

                    <div id="collapse-mobile-sw" class="collapse multi-collapse">
                        <div class="card-body">
                            <p class="py-1">{{output_list["mobile_software_intestation"]}}</p>
                            {% for software in output_list["mobile_software"]%}
                            <h4>{{software["name"]}} (ATT&CK ID: {{software["external_id"]}})</h4>
                            <p>{{software["description"]}}</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="row card">
        <div class="card-header">
            <h2>Assets targeted by {{output_list["name"]}}</h2>
        </div>
        <div class="card-body">
            <div class="container">
                <div class="row card">
                    <div class="card-header">
                        <a class="collapsed d-block" data-bs-toggle="collapse" href="#collapse-en-as" role="button" aria-expanded="false" aria-controls="#collapse-en-as" style="text-decoration: none;font-size: 1.3em;">
                            <i class="fa fa-chevron-down pull-right"></i> Assets targeted in Enterprise context by {{output_list["name"]}}</a>
                        </a>
                    </div>

                    <div id="collapse-en-as" class="collapse multi-collapse">
                        <div class="card-body">
                            <p class="py-1">{{output_list["enterprise_assets_intestation"]}}</p>
                            {% for asset in output_list["enterprise_assets"]%}
                            <h4>{{asset["name"]}} (ATT&CK ID: {{asset["external_id"]}})</h4>
                            <p class="py-1">{{asset["description"]}}</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="row card">
                    <div class="card-header">
                        <a class="collapsed d-block" data-bs-toggle="collapse" href="#collapse-ics-as" role="button" aria-expanded="false" aria-controls="#collapse-ics-as" style="text-decoration: none;font-size: 1.3em;">
                            <i class="fa fa-chevron-down pull-right"></i> Assets targeted in ICS context by {{output_list["name"]}} </a>
                        </a>
                    </div>

                    <div id="collapse-ics-as" class="collapse multi-collapse">
                        <div class="card-body">
                            <p class="py-1">{{output_list["ics_assets_intestation"]}}</p>
                            {% for asset in output_list["ics_assets"]%}
                            <h4>{{asset["name"]}} (ATT&CK ID: {{asset["external_id"]}})</h4>
                            <p class="py-1">{{asset["description"]}}</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="row card">
                    <div class="card-header">
                        <a class="collapsed d-block" data-bs-toggle="collapse" href="#collapse-mobile-as" role="button" aria-expanded="false" aria-controls="#collapse-mobile-as" style="text-decoration: none;font-size: 1.3em;">
                            <i class="fa fa-chevron-down pull-right"></i> Assets targeted in mobile context by {{output_list["name"]}} </a>
                        </a>
                    </div>

                    <div id="collapse-mobile-as" class="collapse multi-collapse">
                        <div class="card-body">
                            <p class="py-1">{{output_list["mobile_assets_intestation"]}}</p>
                            {% for asset in output_list["mobile_assets"]%}
                            <h4>{{asset["name"]}} (ATT&CK ID: {{asset["external_id"]}})</h4>
                            <p class="py-1">{{asset["description"]}}</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

</body>

</html>